# Database Configuration
# Set USE_POSTGRES to True to enable PostgreSQL, or False to use the local SQLite database
USE_POSTGRES=False

# PostgreSQL Settings (required if USE_POSTGRES=True)
DB_NAME=innerbalance
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Django Secret Key (optional)
# SECRET_KEY=django-insecure-c^k40ho3cs3=_9*dc9$6$wsq=e=4jx2%5w(efg%$$8%_g=&x@&
